.form{
    margin-top: 80px;
    margin-bottom: 30px;
    border: solid 3px rgb(246, 97, 97);
    border-radius: 1%;
    padding: 30px;
    background-color: rgba(63, 31, 31, 0.911);
    color: white;
}
/* src/App.css */

.form-control {
    background-color: rgba(248, 122, 122, 0.529);
    color: white;
  }
  .form-control:focus{
    background-color: rgba(0, 0, 0, 0.244);
    border-color: red;
    color: white;
  }
  
  /* In your App.css or a custom CSS file */

.custom-input {
    color: white;
    background-color: rgba(248, 122, 122, 0.529);
}
.custom-input:focus {
    background-color: rgba(0, 0, 0, 0.244);
    border-color: red;
    color: white;
  }
  
  
body{
    background-color:rgb(244, 152, 152);
    
}
body::-webkit-scrollbar {
    display: none;
  }
  
/* Add this CSS in your main CSS file or <style> tag */
@media (max-width: 768px) {
  .container-fluid {
    background-size: contain;
  }
}
